<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>597845976782-dh8k4vmdoqsnog628dc3ics8hpmo96cl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.597845976782-dh8k4vmdoqsnog628dc3ics8hpmo96cl</string>
	<key>API_KEY</key>
	<string>AIzaSyBgFLulDm9xamOZgVOUz5p7EOkBfpJfRvY</string>
	<key>GCM_SENDER_ID</key>
	<string>597845976782</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseLoginApp</string>
	<key>PROJECT_ID</key>
	<string>login-app-56b9d</string>
	<key>STORAGE_BUCKET</key>
	<string>login-app-56b9d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:597845976782:ios:eeb01ce5cfdace5634529f</string>
</dict>
</plist>